

.footer_content
    
    background:  #242424
    height: auto
    width: 100%
    font-family: "Open Sans"
    color: #fff
    height: 40vh
    text-align: center
    padding-top: 20px

    .content 
        display: flex
        justify-content: space-between
        padding: 20px

        h3 
            font-size: 2.5rem

        p
            font-size: 1.3rem


    .socials
        list-style: none
        display: flex
        align-items: center
        justify-content: center
        margin-right: 1rem

    a 
        margin-right: 30px


    
    .footer_bottom p
        font-size: 1rem
        word-spacing: 2px
        margin-top: 20px        

    .footer_bottom span
        text-transform: uppercase
        

    a:hover 
        cursor: pointer

    
        

        

 
        

    
