@import Variables.sass


.navbar
        width: 100%
        background: #131313
        height: 80px
        position: fixed
        z-index: 10    


.title a
        
    padding: 1rem
    font-size: 2.9rem    
    text-decoration: none
    color: transparent
    background-image: linear-gradient(to right, #751fe6, #FBD786, #f7797d)
    -webkit-background-clip: text
    animation: animate 5s linear infinite
    background-size: 1000%


@keyframes animate
        0%
            background-position: 0% 100%
        50%
            background-position: 100% 0% 
        100%
            background-position: 0% 100%
                    
    
    

@media screen and ( min-width:  760px)
    
    .navbar 
        width: 100%
        background: #131313
        height: 80px
        position: fixed
        z-index: 10    
    

    .navbar__container
        
        height: 100%
        display: flex
        justify-content: space-between
        align-items: center
        

        
        
    .links__container
        font-size: 1.2rem
        
            
    
   


        ul li 
            display: inline
            align-items: center
        
        

        


        li a 
            position: relative
            font-size: 1.5rem
            padding: 0.5rem 1rem 0.5rem
            margin: 0rem 1rem 0rem 
            letter-spacing: 2px
            background: #131313
            color: #fff
            text-decoration: none
            overflow: hidden
            

        ul:hover li a
            opacity: 0
            transition: 0.3s

        ul li a:hover 
            transfrom: scale(1.4)
            z-index: 1000
            background: #fff
            color: #131313
            opacity: 1
            font-size: 1.5rem
            transition: 0.3s
            

@media screen and ( max-width: 760px )



    .navbar__container
        display: flex
        justify-content: space-between
        height: 80px
        z-index: 1
        width: 100%
        padding: 0
        background: #131313

    .links__container
        display: grid
        grid-template-columns: auto
        margin: 0
        position: absolute
        top: -1000px
        opacity: 1
        transition: all 0.5 ease
        z-index: -1
        right: 0
        background: rgba(24, 20, 20, 0.699) !important
        width: 80%
        text-align: center
        border-radius: 8px

        ul li
            padding: 5px
            list-style: none
            border-bottom: 2px solid #fff
            width: 100%
            margin-left: 10%
    
        

        ul a
            color: #fff
            font-weight: bold
            text-decoration: none
            font-size: 3.8rem

            
            


    


    .open
        background: #131313
        top: 80px
        opacity: 1
        transition: all 0.5s ease
        z-index: 99
        font-size: 1.6rem




        



    .menu
        position: absolute
        top: 15px
        right: 5%
        width: 30px
        height: 25px
        cursor: pointer
        display: block
        transition: all 0.5 ease



    .bar1, .bar2, .bar3
        width: 25px
        height: 3px
        background: #fff
        margin: 5px auto

    .bar1
        position: absolute

        right: 5%

    .bar2
        position: absolute
        top: 7px
        right: 5%
    

    .bar3
        position: absolute
        top: 14px
        right: 5%

    .active .bar2
        opacity: 0

    .active .bar1
        transform: translateY(7.5px) rotate(45deg)

    .active .bar3 
        transform: translateY(-7.5px) rotate(-45deg)


    













    
    
           





    



    



    
   









    