.navbar 
    width: 100%
    background: #131313
    height: 80px
    position: fixed
    


    
    
    


    

    .navbar__container
        
        height: 100%
        display: flex
        justify-content: space-between
        align-items: center
        

        
        
    .links__container
        font-size: 1.2rem
        
            
    
   


    ul li 
        display: inline
        align-items: center
        
        

        


    li a 
        position: relative
        font-size: 1.5rem
        padding: 0.5rem 1rem 0.5rem
        margin: 0rem 1rem 0rem 
        letter-spacing: 2px
        background: #131313
        color: #fff
        text-decoration: none
        overflow: hidden
        

    ul:hover li a
        opacity: 0
        transition: 0.3s

    ul li a:hover 
        transfrom: scale(1.4)
        z-index: 1000
        background: #fff
        color: #131313
        opacity: 1
        font-size: 1.5rem
        transition: 0.3s
        

    .title a
        
        padding: 1rem
        font-size: 2.9rem    
        text-decoration: none
        color: transparent
        
        background-image: linear-gradient(to right, #751fe6, #FBD786, #f7797d)
        -webkit-background-clip: text
        animation: animate 5s linear infinite
        background-size: 1000%


        @keyframes animate
            0%
                background-position: 0% 100%
            50%
                background-position: 100% 0% 
            100%
                background-position: 0% 100%
                
           





    



    



    
   









    